@import "~vue-material/dist/theme/engine";

@import "_mdi";
@import "_init";

$primary: md-get-palette-color(indigo, 600);
$accent: md-get-palette-color(pink, A400);

@include md-register-theme("default", (
    primary: $primary,
    accent: $accent
));

@import "~vue-material/dist/theme/all";
