@import "~vue-material/dist/theme/engine";

@import "_mdi";
@import "_init";

$primary: #ffaf00;
$accent: #047dcc;

@include md-register-theme("default", (
    primary: $primary,
    accent: $accent
));

@import "~vue-material/dist/theme/all";
