@import "mdi";
@import url(css/fontiran.css);

*{
    outline: 0;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
}

body{
    font-family: IRANSans;
}

.mute{
    color: #888
}

big{
    font-size: 125%
}

small{
    font-size: 80%;
}

h1,h2,h3,h4,h5,h6{
    margin: .67rem 0;
    font-weight: 500;
}

b{
    font-weight: 700
}

strong{
    font-weight: 900
}

h1{
    font-size: 1.64em
}

h2{
    font-size: 1.44em
}

h3{
    font-size: 1.28em
}

h4{
    font-size: 1.24em
}

h5{
    font-size: 1.2em
}

h6{
    font-size: 1.1em
}

@mixin clear {
    &::after, &::before{
        clear: both;
        display: table;
        content: ''
    }
}

.clear{
    @include clear;
}

.container{
    width: 100%;
    padding: 0 16px;
    min-height: 1px;
    @include clear;
}

.unselectable{
    user-select: none;
    cursor: default;
}

[class^='col-']{
    float: right;
    @include clear;
    padding: 0 16px;
    text-align: right;
    position: relative;
}

@media only screen and (min-width: 0px) {
  .col-xs-0 {
    width: 0%;
  }

  .col-xs-1 {
    width: 8.33333%;
  }

  .col-xs-2 {
    width: 16.66667%;
  }

  .col-xs-3 {
    width: 25%;
  }

  .col-xs-4 {
    width: 33.33333%;
  }

  .col-xs-5 {
    width: 41.66667%;
  }

  .col-xs-6 {
    width: 50%;
  }

  .col-xs-7 {
    width: 58.33333%;
  }

  .col-xs-8 {
    width: 66.66667%;
  }

  .col-xs-9 {
    width: 75%;
  }

  .col-xs-10 {
    width: 83.33333%;
  }

  .col-xs-11 {
    width: 91.66667%;
  }

  .col-xs-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 600px) {
  .col-sm-0 {
    width: 0%;
  }

  .col-sm-1 {
    width: 8.33333%;
  }

  .col-sm-2 {
    width: 16.66667%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-4 {
    width: 33.33333%;
  }

  .col-sm-5 {
    width: 41.66667%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-7 {
    width: 58.33333%;
  }

  .col-sm-8 {
    width: 66.66667%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-10 {
    width: 83.33333%;
  }

  .col-sm-11 {
    width: 91.66667%;
  }

  .col-sm-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .col-md-0 {
    width: 0%;
  }

  .col-md-1 {
    width: 8.33333%;
  }

  .col-md-2 {
    width: 16.66667%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.33333%;
  }

  .col-md-5 {
    width: 41.66667%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.33333%;
  }

  .col-md-8 {
    width: 66.66667%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-10 {
    width: 83.33333%;
  }

  .col-md-11 {
    width: 91.66667%;
  }

  .col-md-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 1000px) {
  .col-lg-0 {
    width: 0%;
  }

  .col-lg-1 {
    width: 8.33333%;
  }

  .col-lg-2 {
    width: 16.66667%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-4 {
    width: 33.33333%;
  }

  .col-lg-5 {
    width: 41.66667%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-7 {
    width: 58.33333%;
  }

  .col-lg-8 {
    width: 66.66667%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-10 {
    width: 83.33333%;
  }

  .col-lg-11 {
    width: 91.66667%;
  }

  .col-lg-12 {
    width: 100%;
  }
}


body {
  margin: 0;
  padding: 0;
  // font-family: 'iransansweb';
  background-color: #f1f1f1;
  direction: rtl;
}

a{
    text-decoration: none;
    color: #cc8c00;
    &:hover, &:focus{
        color: lighten(#cc8c00, 10%)
    }
}

.index-Banner{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 160px;
    color: #fff;
    font-size: 1.25em;
    position: relative;
    z-index: 2;
    .b--m{
        text-align: center;
        &>*:first-child{
            margin: 0;
            margin-bottom: 10px;
        }
    }
    box-shadow: 0 2px 6px rgba(#000, .5)
}

.ic-item{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    direction: rtl;
    .ici-icon{
        padding: 20px;
        .ici-icon-main{
            font-size: 70px;
            color: #fff
        }
    }
}

.mulitsh{
    margin: 20px 16px;
    background-color: #fff;
    border-radius: 2.5px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(#000, .4);
    position: relative;
    color: inherit;
    .header{
        padding: 5px;
        font-weight: bold;
        box-shadow: 0 1px 5px 2px rgba(#000, .2);
        position: relative;
        i{
            color: #2196f3
        }
    }
    .main{
        display: flex;
        align-items: stretch;
    }
    &, & *{
        user-select: none;
    }
    cursor: default;
    .mulitsh-button{
        background-color: #fff;
        border: 0;
        box-shadow: 0 2px 16px -3px rgba(#000, .3);
        font-size: 21px;
        cursor: pointer;
        padding: 0 6px;
        transition: .2s ease;
        & > *{
            color: inherit !important;
            font-size: inherit !important
        }
        &:disabled{
            color: #888;
            box-shadow: none;
            background-color: #eaeaea
        }
        &:not(:disabled):active{
            box-shadow: 0 5px 20px -2px rgba(#000, .35)
        }
    }
    .mulitsh-item{
        display: inline-block;
        border-radius: 2.5px;
        direction: rtl !important;
        width: (100% / 3);
        @media only screen and (min-width: 768px){
            width: (100% / 7);
        }
        padding: 16px;
        text-align: center;
        img{
            width: 100%;
        }
        .title{
            font-size: 20px;
        }
        p{
            color: #888;
            font-size: 14px;
            margin: 0;
            margin-top: 3px;
        }
        .footer{
            padding: 5px 0;
            font-size: 67%;
            border-top: 1px solid #ececec;
            .price{
                font-weight: bold;
            }
        }
    }
}

body.superdoc-form{
    background-color: #2a4b75;
    &.signin{
        background-color: #103b73;
    }
    #root{
        height: 100vh;
        display: flex;
        align-items: stretch;
        justify-content: center;
        .form-main{
            margin: 40px;
            width: 100%;
            max-width: 500px;
            overflow: auto;
            padding: 16px 20px;
            text-align: center;
            position: relative;
            .loading{
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }
        }
    }
}

.cart-main{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    white-space: nowrap;
    overflow: auto;
    th, td{
        text-align: right;
        padding: (5 * .125em) (2 * .125em);
        padding-left: 10px
    }
    th{
        color: #555;
        font-weight: bold;
        font-size: 13px
    }
    .actions > div{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
}

.load-indic{
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    @extend .unselectable;
}


.category{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    .scroll-content{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        .FDO--container{
            width: 4 / 12 * 100%;
            display: flex;
            align-items: stretch;
            transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
            &[data-mobile=true]{
                position: fixed;
                top: 0;
                width: 100%;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 1100;
                transform: translateY(100%);
                &.open{
                    transform: translate(0);
                }
            }
        }
        .result{
            width: 100%;
            overflow-y: auto;
        }
    }
}

.catpimage{
    position: relative;
    span{
        position: absolute;
        top: 0;
        padding: 1.2px 6px;
        border-bottom-right-radius: 2px;
        color: #fff;
        background-color: #f44336;
        font-size: 9px;
        left: 0
    }
}

.clear{
    @include clear;
}

.productaddscfab{
    position: fixed;
    bottom: 25px;
    left: 25px;
    z-index: 1100;
    @media only screen and (min-width: 768px) {
        position: absolute;
        left: 56px;
        bottom: -28px
    }
}

.productmaincol{
    margin: 0 auto;
    float: none;
}

.producttabitem{
    padding-top: 16px;
    padding-bottom: 16px;
}

.landing-intro-section{
    text-align: center;
    i.mdi{
        font-size: 5em;
        display: block;
        margin-bottom: 8px;
    }
    .title{
        @extend h5;
        margin-bottom: 0;
    }
    p{
        @extend .mute;
        margin-top: 0;
        font-size: .95em
    }
}
