#Access Control

#<IfModule mod_headers.c>
#    Header add Access-Control-Allow-Origin "*"
#</IfModule>

#error_log

php_flag log_errors Off

#Files in folders

Options -Indexes

IndexIgnore *

#SSL

#RewriteEngine On

#RewriteCond %{HTTPS} !=on

#RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

#WWW

RewriteBase /

RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]

RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

#.php

Options +FollowSymLinks -MultiViews

RewriteEngine On

RewriteBase /

RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s([^.]+)\.php [NC]

RewriteRule ^ %1 [R,L,NC]

RewriteCond %{REQUEST_FILENAME}.php -f

RewriteRule ^ %{REQUEST_URI}.php [L]

#Config and... Access Denied

<FilesMatch "config\.php|functions\.php">
  Order allow,deny
  Deny from all
</FilesMatch>
